 .collection__title.title-wrapper .title:not(:only-child) {
  margin-bottom: 24px;
}
.collection .slider-button {
  width: 40px;
  height: 40px;
  border: 1px solid #1B1F231A;
  border-radius: 4px;
  align-self: flex-start;
  margin-top: 30px;
}
.collection .slider-button .icon {
  width: 12px;
  height: auto;
  color: #1B1F23;
}
.collection .slider-buttons {
  gap: 25px;
}
.collection .collection__title.title-wrapper {
  margin-bottom: 25px;
}
.collection .product-grid {
  margin-top: 0;
}
.collection .product-card-wrapper .card {
  padding: 20px 20px 20px;
  border-radius: 8px;
}
.collection .slider.slider--desktop.contains-card--standard .slider__slide:not(.collection-list__item--no-media) {
  padding: 0;
}
.color-scheme-2 .collection .product-card-wrapper .card {
  background: #fff;
}
.color-scheme-2 .collection .product-card-wrapper .card--standard .card__inner {
  background: transparent;
}
.product-card-wrapper .card--media .card__inner .card__content {
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 0;
}
.product-card-wrapper .badge {
  letter-spacing: 0;
  line-height: 1.084;
  color: #1B1F23;
  background: #FFED92;
  border: 0;
  border-radius: 4px;
  padding: 7px 10px 6px;
}
.pro-benifit-list {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.pro-benifit-list .pro-benifit {
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: 0;
  padding: 5px 10px 4px;
  background: #F6F6F5;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  color: #101226;
  gap: 4px;
}
.pro-benifit-list .pro-benifit:before {
  content: ' ';
  font-weight: 600;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: currentColor;
}
.collection .product-card-wrapper .card--standard>.card__content .card__information {
  padding: 10px 0 0;
}
.collection .product-card-wrapper .card__heading a {
  color: #1B1F23;
}
.collection .product-card-wrapper .card__heading {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.2;
}
.collection .product-card-wrapper .product-short-dec p {
  margin: 5px 0 0;
  line-height: 1.2;
  font-size: 13px;
}
.collection .product-card-wrapper .card-information>.price {
  color: #1B1F23;
  font-size: 14px;
  letter-spacing: 0;
  margin: 0 0 8px;
}
.collection .product-card-wrapper .quick-add {
  margin: 0;
}
.collection__title.title-wrapper .title:not(:only-child) {
  text-align: center;
}
@media (min-width: 750px) {
  body .collection slider-component:not(.page-width-desktop) {
    max-width: var(--page-width);
    padding: 0 4rem;
    margin: 0 auto;
  }
  .collection .slider-buttons {
    gap: 50px;
  }
  .collection .collection__title.title-wrapper {
    margin-bottom: 50px;
  }
  .product-with-video .slider-buttons {
    padding: 0 4rem;
  }
}
@media (min-width: 990px) {
  .collection .slider--desktop .slider__slide:first-child {
    margin-left: 0;
    scroll-margin-left: 0;
  }
  .collection .slider--desktop.grid--4-col-desktop .grid__item {
    width: calc(25% - 10px);
  }
}
@media (max-width: 989px) {
  .product-with-video .slider-buttons {
    padding: 0 1.5rem;
  }
}
@media (max-width: 749px) {
  .collection .slider-buttons {
    padding: 0 1.5rem;
    justify-content: space-between;
  }
  .collection .collection__title.title-wrapper {
    margin-bottom: 2.2rem;
  }
  .product-with-video .slider-buttons {
    gap: 10px;
  }
  .collection__title.title-wrapper .title:not(:only-child) {
    margin-bottom: 10px;
  }
  .collection .product-card-wrapper .card__heading {
    font-size: 14px;
  }
  .collection .product-card-wrapper .product-short-dec p {
    font-size: 12px;
  }
  .multicolumn.multi-logo-section .multicolumn-card__info>:nth-child(2) {
    font-size: 12px;
  }
  .collection .slider-button {
    margin-top: 20px;
  }
}